:root {
  --main-text-color: #212121;
  --accent-text-color: #2196f3;
  --grey: #757575;
  --white: #ffffff;
  --background: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.contact-list,
.about-us-list,
.about-list,
.description-list,
.menu-list,
.header-menu {
  list-style-type: none;
}

/*============== HEADER ==============*/

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.logo-s {
  color: #212121;
}

.menu-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.menu-list-link:hover,
.menu-list-link:focus,
.header-menu-link:hover,
.header-menu-link:focus,
.header-tel:hover,
.header-tel:focus,
.contact-list-link:hover,
.contact-list-link:focus {
  color: #2196f3;
}

.header-menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.header-tel {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  font-style: normal;
}

/*============== END HEADER ==============*/

/*============== HERO ==============*/

.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.modal-btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero {
  width: auto;
  background-color: #2f303a;
}
/*============== END HERO ==============*/

/*============== ABOUT ==============*/

.description-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.description-item {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.about-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.about-us-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.about-us-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.about-us-position {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/*============== END ABOUT ==============*/

/*============== CONTACT ==============*/

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.contact-list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-list-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.geo-link {
  color: #ffffff;
}

.footer {
  width: 100%;
  background-color: #2f303a;
}

.logo-ss {
  color: #ffffff;
}
/*============== END CONTACT ==============*/

/*============== PORTFOLIO ==============*/

.logo-port {
  list-style-type: none;
}

/*============== HEADER PORTFOLIO ==============*/

.btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color)
  background: #f5f4fa;
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  background: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white)
}

.button-list {
  list-style-type: none;
}

.offer-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.offer-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.offer-list {
  list-style-type: none;
}
